{% extends  "base.html" %}
{% block extra_css %}
<style>
    button {
        float: right;
    },
    a {
        float:right;
        background-color: #ffffff;
    }
</style>
{% endblock %}
{% block content %}
<body>
    <div class="container">

        <div class="container">
            <br>
            <br>

            <div class="row align-items-center justify-content-center">
                <h1>Novo Ingrediente</h1>
            </div>
            <br>

            <form method="POST">

                <label for="name">Nome do Ingrediente</label>
                <div class="form-row">
                    <input class="form-control" type="text" placeholder="Nome do Ingrediente" id="nome" name="nome">
                </div>
                <br>
                <div>
                    <button type="submit" class="button button-publicar">Publicar</button>
                </div>
                <div>
                    <a href="{{url_for('home')}}" class="button button-voltar">Voltar</a>
                </div>
            
            </form>
            <br><br>
        </div>
    </div>
</body>
{% endblock %}