{% extends  "base.html" %}
{% block extra_css %}
<style>
    button {
        float: right;
    },
    a {
        float:right;
        background-color: #ffffff;
    }
</style>
{% endblock %}
{% block content %}
<body>
    <div class="container">

        <div class="container">
            <br>
            <br>

            <div class="row align-items-center justify-content-center">
                <h1>Adicionar Receita</h1>
            </div>
            <br>

            <form method="POST">

                <label for="name">Nome da Receita</label>
                <div class="form-row">
                    <input class="form-control" type="text" placeholder="Nome da Receita" id="nome" name="nome">
                </div>
                <br>
                <div class="form-row">
                    <label for="author">Autor</label>
                    <input class="form-control" type="text" placeholder="Nome do Autor" id="autor" name="autor">
                </div>
                <br>
                <div class="form-row ">
                    <label for="published">Publicado em</label>
                    <input class="form-control " type="date" placeholder="Publicado em" id="publicado" name="publicado_em">
                </div>

                <br>

                <div>
                    <button type="submit " class="btn btn-primary ">Publicar</button>
                </div>
                <div>
                    <a href="{{url_for('home')}}" class="btn btn-secondary ">Voltar</a>
                </div>
            
            </form>
            <br><br>
        </div>
    </div>
</body>
{% endblock %}