{% extends  "base.html" %}

{% block content %}
<body>
    <div class="container">

        <div class="container">
            <br>
            <br>

            <div class="row align-items-center justify-content-center">
                <h1>Adicionar Receita</h1>
            </div>
            <br>

            <form method="POST">

               {{form.hidden_tag()}}
               <div class="form-group m-5">
                   {{form.nome.label()}}
                  {{form.nome(class="form-control")}}
               </div>
               <div class="form-group m-5">
                   {{form.autor.label()}}
                   {{form.autor(class="form-control")}}
               </div >
               <div id="ingredientes">
                 <div id="ingrediente" class="form-group m-5">
                     {{form.ingredientes.label()}}
                     {{form.ingredientes(class="form-control")}}
                 </div>
               <div class="form-group m-5">
                   {{form.modo_preparo.label()}}
                   {{form.modo_preparo(class="form-control")}}
               </div>
               </div>
<!--                 <button id="add_ingrediente">Adicionar Novo Ingrediente</button> -->
                <br>
                <div>
                    {{form.publicar(class="button button-publicar")}}
                </div>
                <div>
                    <a href="{{url_for('home')}}" class="button button-voltar">Voltar</a>
                </div>
            
            </form>
            <br><br>
        </div>
    </div>
</body>
{% endblock %}

{% block scripts %}
   <script>

      // Wait until the window finishes loaded before executing any script
      window.onload = function() {

        // Initialize the activityNumber
        var ingredienteNumber = 2;

        // Select the add_activity button
        var addButton = document.getElementById("add_ingrediente");

        // Select the table element
        var ingredientelistTable = document.getElementById("ingredientes");

        // Attach handler to the button click event
        addButton.onclick = function() {

        // Add a new row to the table using the correct activityNumber
          ingredientelistTable.innerHTML += `<div id="ingrediente${ingredienteNumber}" class="form-group m-5">{{form.ingredientes.label()}}{{form.ingredientes(class="form-control")}}</div>`

          // Increment the activityNumber
          ingredienteNumber += 1;
        }

      }

   </script>
{% endblock %}