{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Receita {{receita.nome}} {% endblock %}</h1>
    <ul>
       <!-- <a href="">{{receita}}</a> -->
       <li>Nome: {{receita.nome}}</li>
       <li>Autor: {{receita.autor}}</li>
       <li>Publicado em: {{receita.publicado_em}}</li>
    </ul>
    <h3>Ingredientes da Receita</h3>   
    <ul>
      {% for ingrediente in receita.ingredientes %}
        <li>{{ingrediente}}</li>
       {% endfor %}
    </ul>
    <h3>Modo de Preparo</h3>
    <ul>
       <li>{{receita.modo_preparo}}</li>
    </ul>        
    <br>
    <div>
        <a href="{{url_for('home')}}" class="btn btn-secondary ">Voltar</a>
    </div>    
{% endblock %}